.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section__title {
  font-size: 2em;
  margin: 2em 0 1em 0;
  font-weight: bold;
  color: black;
  border-bottom: 5px solid #dda344;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Encode Sans", sans-serif;
  font-size: 16px;
  background-color: rgb(255, 254, 253);
  line-height: 1.6;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

nav {
  font-size: 2.5rem;
  color: rgb(199, 217, 226);
  background-color: #fff;
  transition: font-size 0.3s ease;
  border-bottom: 1px solid #dda344;
}

.nav-link {
  color: black;
  font-size: 1.5rem;
  padding: 1rem;
}
.nav-link i {
  padding: 8px;
  color: #dda344;
}

.active {
  color: #dda344;
}

.navbar-toggler {
  font-size: 2.2rem;
}

.navbar-toggler .navbar-toggler-icon::before,
.navbar-toggler .navbar-toggler-icon::after {
  background-color: black; /* Ustawia kolor linii na czarny */
}

.nav-link:hover {
  color: #dda344;
}

.navbar-brand {
  font-size: 2rem;
  max-width: 200px;
  min-width: 20px;
}

.navbar-brand a:hover {
  color: #dda344;
}

.hero {
  /* position: relative; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/header.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  width: 100%;
  height: 60rem;
  border-bottom: 1px solid rgb(20, 46, 70);
  /* height: 500px; */
}

.hero2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/header2.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  width: 100%;
  height: 60rem;
  border-bottom: 1px solid rgb(20, 46, 70);
}

.hero a,
.hero2 a {
  position: relative;
  padding: 1em 2.5em;
  background-color: #e0a848;
  color: #ffffff;
  font-size: 1.8rem;
  border: 1px solid #dda344;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.hero a::before,
.hero2 a::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px solid #dda344;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.hero a:hover::before,
.hero2 a:hover::before {
  opacity: 1;
}

.about-us {
  padding: 5em 2em;
}
.about-us__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.about-us__text {
  padding: 3em 1em;
  color: white;
}
.about-us__text-one {
  background-color: #dda344;
}
.about-us__text-two {
  background-color: black;
}
.about-us__text a {
  text-decoration: none;
  color: #fafafa;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 1s;
}
.about-us__text a i {
  margin: 1rem;
}
.about-us__img img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.about-us__text-one a:hover,
.about-us__text-one a:focus {
  color: black;
}

.about-us__text-two a:hover,
.about-us__text-two a:focus {
  color: #dda344;
}

.offers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  background-color: #fff;
  border: 1px solid #dda344;
}
.offers__section-title {
  font-size: 2em;
  margin: 2em 0 1em 0;
  font-weight: bold;
  color: rgb(20, 46, 70);
  border-bottom: 5px solid #dda344;
}
.offers__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
}
.offers__box {
  position: relative;
  background-color: black;
  color: #fff;
  margin: 4em 0;
  padding: 4em 2em;
  display: flex;
  flex-direction: column;
  max-width: 508px;
  justify-content: center;
  transition: transform 0.3s;
  border: 1px solid rgb(20, 46, 70);
}
.offers__box:hover {
  transform: scale(0.99);
  box-shadow: inset -1px 1px 5px 0px black;
}
.offers__box--img {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, -50%);
}
.offers__box--img img {
  width: 160px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: -1px 1px 20px 0px #dda344;
}
.offers__box__title {
  padding: 1em 0;
  font-size: 1.3em;
  text-transform: uppercase;
  color: #dda344;
  font-weight: bold;
}

.team {
  background-color: #fff;
  padding: 3em 0;
}
.team__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.team__title-section {
  font-size: 2em;
  margin: 2em 0 1em 0;
  font-weight: bold;
  color: black;
}
.team__box {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}
.team__box-text-one {
  background-color: #dda344;
  padding: 3em 2em;
  color: #fff;
}
.team__img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.team__title {
  margin-bottom: 0.5em;
  color: #fff;
  font-size: 1.5em;
}
.team__text {
  font-size: 1.4rem;
}

.contact {
  padding-bottom: 6em;
  padding-top: 6em;
  background-color: black;
}
.contact__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 1em 2em;
  margin-bottom: 4em;
  margin-top: 2em;
}
.contact__box--bgc {
  width: 90%;
  height: 100%;
  position: absolute;
  background-color: black;
  border: 4px solid #dda344;
  padding: 1em 2em;
}
.contact__box__title {
  padding: 0.5em 0;
  font-size: 1.2em;
  z-index: 1;
  text-transform: uppercase;
  color: #dda344;
}
.contact__box__text {
  margin-bottom: 1em;
  color: #ffffff;
  font-size: 0.8em;
  z-index: 1;
  transition: color 1s ease;
}
.contact__box__text:hover {
  color: #dda344;
  cursor: pointer;
}
.contact__icons {
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
}
.contact__icons a {
  margin: 1em;
  color: #ffffff;
  transition: transform 0.3s;
  position: relative;
}
.contact__map {
  position: relative;
  padding-bottom: 36.25%;
  padding-top: 30px;
  padding-right: 10px;
  height: 0;
  overflow: hidden;
  box-shadow: -1px 1px 20px 0px #dda344;
  border: 2px solid #dda344;
  transition: box-shadow 0.5s ease;
}
.contact__map:hover {
  box-shadow: -1px 1px 20px 0px #aa8b6a;
}
.contact__map__map-title {
  text-align: center;
  padding: 2em 1em;
}
.contact__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #dda344;
  background-color: black;
  color: #ffffff;
}
.footer__text {
  padding: 1rem;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.footer__text img {
  margin-left: 10px;
  margin-bottom: 5px;
}

.me__section {
  padding: 5em 0;
}
.me__section h3 {
  padding: 1em 1em;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  background-color: #dda344;
  margin-bottom: 1em;
}
.me__section h3 i {
  padding: 1rem;
  font-size: 3rem;
}
.me__section h4 {
  padding: 0em 1em;
  font-size: 2rem;
  color: #dda344;
}
.me__section h4 i {
  padding: 10px;
}

.specializations__box {
  margin: 2rem;
}
.specializations__text i {
  margin: 0.5rem;
  font-size: 1rem;
}
.specializations__maintext {
  margin: 2rem;
}

.guardianships {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.99) 0%, rgba(230, 230, 230, 0.8) 48%, rgba(255, 255, 255, 0.99) 100%), url("../img/sBig.jpg");
  padding: 10px 10px;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.guardianships__title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1rem;
  text-transform: uppercase;
}
.guardianships__text {
  text-align: center;
  font-size: 2rem;
}

@media (min-width: 574px) {
  .offers__box {
    max-width: 508px;
  }
  .team__box {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .team__box-text {
    width: 59%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .team__box-text--right {
    text-align: right;
  }
  .team__box-img {
    width: 40%;
  }
  .team__box-img--right {
    order: 1;
  }
  .team__img {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .offers__section-title {
    margin: 2em 0 0 0;
  }
  .offers__wrapper {
    flex-direction: row;
  }
  .offers__box {
    margin: 6em 1em;
    width: 33%;
  }
  .offers__box img {
    width: 160px;
    height: 160px;
  }
  .team__text {
    font-size: 1.8rem;
  }
  .contact__wrapper {
    display: flex;
    flex-direction: row;
  }
  .contact__box {
    width: 50%;
    margin-bottom: 0;
    margin: 0 2em;
  }
  .contact__box--bgc {
    width: 90%;
    height: 80%;
  }
  .contact__map {
    width: 75%;
    height: 80%;
    margin: 0 2em;
  }
}
@media (min-width: 992px) {
  .about-us__title {
    font-size: 2rem;
  }
  .about-us__text {
    font-size: 1.8rem;
    z-index: 4;
    position: relative;
  }
  .about-us__wrapper {
    flex-direction: row;
  }
  .about-us__box {
    width: 70%;
  }
  .about-us__img {
    width: 40%;
    height: auto;
  }
  .about-us img {
    transform: translateX(-30%);
    z-index: 0;
  }
  .navbar-nav {
    align-items: center;
    font-size: 1.5rem;
  }
  .hero {
    /* position: relative; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/headerBig.jpg");
    background-attachment: fixed;
  }
  .hero2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/headerBig2.jpg");
  }
  .team__box {
    margin: 2em 0;
  }
  .team__box-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .team__title {
    font-size: 2.6rem;
  }
  .team__text {
    font-size: 1.8rem;
  }
  .contact__box__text {
    font-size: 1em;
  }
  .guardianships {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.99) 0%, rgba(243, 243, 243, 0.85) 48%, rgba(255, 255, 255, 0.95) 100%), url("../img/sBig.jpg");
    background-attachment: fixed;
    height: 40rem;
  }
}
@media (min-width: 1200px) {
  .navbar-brand {
    min-width: 40px;
  }
  .hero {
    height: 600px;
  }
  .contact__map {
    width: 75%;
    height: 40%;
    margin: 0 2em;
  }
}
.specialization {
  padding-bottom: 8rem;
}
.specialization h3 {
  padding: 1em 1em;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  background-color: #dda344;
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
}
.specialization h3 i {
  padding: 1rem;
  font-size: 3rem;
}
.specialization__title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1.1667;
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: bold;
}
.specialization__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  gap: 2rem;
  transform-origin: center center;
}
.specialization__text {
  text-align: center;
  padding: 1rem;
}
.specialization__maintext {
  text-align: center;
  padding: 2rem;
}
.specialization__maintext span {
  font-weight: bold;
}
.specialization__maintext--card {
  text-align: center;
  padding: 2rem;
  font-weight: bold;
  margin: 0 auto;
}
.specialization__maintext__title {
  font-size: 2.2rem;
  color: #dda344;
  margin-top: 2rem;
}
.specialization__maintext-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.specialization__card {
  width: 90%;
  border: 1px solid #dda344;
  align-items: center;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  transform-origin: center center;
  transition: background-color 0.8s ease, transform 0.8s;
  background-color: #fafafa;
}
.specialization__card__title {
  font-size: 2rem;
  text-align: center;
  color: #dda344;
  transition: color 1.3s ease;
  font-weight: bold;
}

.specialization__card:hover,
.specialization__card:focus {
  box-shadow: 0px 8px 16px 0px rgba(162, 159, 159, 0.955);
}
.specialization__card:hover h4,
.specialization__card:focus h4 {
  color: #fff;
}
.specialization__card:hover .specialization__card__btn,
.specialization__card:focus .specialization__card__btn {
  background-color: #fff;
  cursor: pointer;
  border: 1px solid black;
}
.specialization__card:hover .specialization__card__btn a,
.specialization__card:focus .specialization__card__btn a {
  color: black;
  border-bottom: 2px solid black;
  bottom: 25px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .specialization__wrapper {
    flex-direction: row;
  }
  .specialization__card {
    flex-grow: 1;
  }
  .specialization__maintext--card {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.99) 0%, rgba(230, 230, 230, 0.866) 48%, rgba(255, 255, 255, 0.99) 100%), url("../img/headerBig3.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    height: 26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
  }
  .specialization__maintext--card p {
    max-width: 80%;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: rgba(250, 250, 250, 0.5176470588);
    font-weight: normal;
  }
}
@media (min-width: 1024px) {
  .specialization__wrapper {
    gap: rem;
  }
}
.person h3 {
  padding: 1em 1em;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  background-color: #dda344;
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
}
.person h3 i {
  padding: 1rem;
  font-size: 3rem;
}
.person__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.person__text {
  max-width: 90%;
  padding: 2rem;
  font-size: 1.6rem;
}
.person__text--one {
  background-color: #dda344;
  align-self: flex-start;
  color: #fafafa;
}
.person__text--two {
  background-color: black;
  color: #fafafa;
  align-self: flex-end;
}
.person__title {
  text-align: center;
  margin: 1rem;
  font-size: 1.6rem;
}
.person__title__wrapper {
  margin: 3rem;
}
.person__title:nth-of-type(1) {
  font-size: 2rem;
}
.person__title:nth-of-type(2) {
  margin-bottom: 4rem;
}
.person-photo {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.99) 0%, rgba(230, 230, 230, 0.8) 48%, rgba(255, 255, 255, 0.99) 100%), url("../img/sBig.jpg");
  padding: 10px 10px;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 0;
}
.person-photo__title {
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  background-color: rgba(250, 250, 250, 0.6941176471);
}

@media (min-width: 992px) {
  .person__text {
    max-width: 75%;
    padding: 4rem;
    margin: 1rem;
  }
  .person__text--one {
    background-color: #dda344;
    align-self: flex-start;
    margin-left: 4rem;
    color: #fafafa;
  }
  .person__text--two {
    background-color: black;
    color: #fafafa;
    align-self: flex-end;
    margin-right: 4rem;
  }
  .person__title:nth-of-type(2) {
    margin-bottom: 4rem;
    max-width: 70%;
  }
  .person-photo {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.99) 0%, rgba(243, 243, 243, 0.85) 48%, rgba(255, 255, 255, 0.95) 100%), url("../img/sBig.jpg");
    background-attachment: fixed;
    height: 40rem;
  }
  .person-photo__title {
    font-size: 3rem;
    padding: 2rem;
  }
}/*# sourceMappingURL=style.css.map */