@use "./colors" as colors;
@use "./components" as components;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Encode Sans", sans-serif;
  font-size: 16px;
  background-color: rgb(255, 254, 253);
  line-height: 1.2;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

/////////////////////////////
///
nav {
  font-size: 2.5rem;

  color: rgb(199, 217, 226);

  // background-color: rgb(20, 46, 70);
  // background-color: colors.$black;
  background-color: #fff;
  transition: font-size 0.3s ease;
  border-bottom: 1px solid colors.$gold;
}
.nav-link {
  color: colors.$black;
  font-size: 1.5rem;
  padding: 1rem;

  i {
    padding: 8px;
    color: colors.$gold;
  }
}
.active {
  color: colors.$gold;
}
.navbar-toggler {
  font-size: 2.2rem;
}

.navbar-toggler .navbar-toggler-icon::before,
.navbar-toggler .navbar-toggler-icon::after {
  background-color: black; /* Ustawia kolor linii na czarny */
}
// .custom-toggler .navbar-toggler-icon {

//   background-color: colors.$gold;
// }
.nav-link:hover {
  // font-size: 2.3rem;
  // font-weight: bold;
  color: colors.$gold;
}

.navbar-brand {
  font-size: 2rem;
  max-width: 200px;
  min-width: 20px;
  // padding: 20px;
  // color: colors.$gold;
  // font-weight: bold;
}
.navbar-brand a:hover {
  color: colors.$gold;
}
///////hero///////
.hero {
  /* position: relative; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/header.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  width: 100%;
  height: 60rem;
  border-bottom: 1px solid rgb(20, 46, 70);
  /* height: 500px; */
}
.hero2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/header2.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  width: 100%;
  height: 60rem;
  border-bottom: 1px solid rgb(20, 46, 70);
}

.hero a,
.hero2 a {
  position: relative;
  padding: 1em 2.5em;
  background-color: colors.$gold2;
  color: #ffffff;
  font-size: 1.8rem;
  border: 1px solid colors.$gold;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.hero a::before,
.hero2 a::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px solid colors.$gold;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.hero a:hover::before,
.hero2 a:hover::before {
  opacity: 1;
}

///about us////
.about-us {
  padding: 5em 2em;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    // padding: 1em 2em;
  }
  &__text {
    padding: 3em 1em;
    color: white;

    &-one {
      background-color: colors.$gold;
    }
    &-two {
      // background-color: rgb(20, 46, 70);
      background-color: colors.$black;
    }
  }

  &__img {
    img {
      width: 100%;
      height: 100%;
      transition: transform 0.3s;
    }
  }
}
//////////////offers//////////////
.offers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  background-color: #fff;
  border: 1px solid colors.$gold;

  &__section-title {
    font-size: 2em;
    margin: 2em 0 1em 0;
    // text-transform: uppercase;
    font-weight: bold;
    color: rgb(20, 46, 70);
    border-bottom: 5px solid colors.$gold;
  }

  &__wrapper {
    // background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }
  &__box {
    position: relative;
    // background: rgb(240, 245, 247);
    // background-color: rgb(20, 46, 70);
    background-color: colors.$black;
    color: #fff;
    margin: 4em 0;
    padding: 4em 2em;
    display: flex;
    flex-direction: column;
    max-width: 508px;
    justify-content: center;
    transition: transform 0.3s;
    border: 1px solid rgb(20, 46, 70);
    // box-shadow: -1px 1px 20px 0px #3f2305;
    &:hover {
      transform: scale(0.99);
      box-shadow: inset -1px 1px 5px 0px colors.$black;
      // box-shadow: 2px 2px 10px colors.$brown;
    }
    // align-items: center;

    &--img {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(0, -50%);

      img {
        width: 160px;
        height: 160px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: -1px 1px 20px 0px colors.$gold;
      }
    }
    &__title {
      padding: 1em 0;
      font-size: 1.3em;
      text-transform: uppercase;
      color: colors.$gold;
      font-weight: bold;
    }
  }
}
/////////////////////////clients//////////////////////////
// /* Clients */
// .clients {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   gap: 30px;
//   list-style: none;
//   cursor: pointer;
//   flex-wrap: wrap;

//   &__section {
//     padding: 4em 0;
//   }
//   &__wrapper {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//   }
//   &__title {
//     font-size: 2em;
//     margin: 2em 0 1em 0;
//     // text-transform: uppercase;
//     font-weight: bold;
//     // color: rgb(20, 46, 70);
//     color: colors.$black;
//     // border-bottom: 5px solid #669342;
//   }
// }
// .clients__link {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 170px;
//   height: 92px;
//   border: 1px solid currentColor;
//   border-radius: 4px;

//   // color: rgb(20, 46, 70);
//   color: colors.$black;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   background-color: #fff;

//   i {
//     font-size: 4rem;
//   }
// }
// .clients__link:hover {
//   color: colors.$gold;
// }

// .clients__link:focus {
//   color: colors.$gold;
// }
// .clients__icon {
//   fill: currentColor;
// }
////team/////
///

.team {
  background-color: #fff;
  padding: 3em 0;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__title-section {
    font-size: 2em;
    margin: 2em 0 1em 0;

    font-weight: bold;
    // color: rgb(20, 46, 70);
    color: colors.$black;
  }
  &__box {
    display: flex;
    flex-direction: column;
    margin: 2em 0;

    &-text-one {
      background-color: colors.$gold;
      padding: 3em 2em;
      color: #fff;
    }
    // &-text--right {
    //   // background-color: rgb(20, 46, 70);
    //   background-color: colors.$black;
    //   padding: 3em 2em;
    //   color: #fff;
    // }
  }

  &__img {
    // width: 100%;
    // margin-bottom: 1em;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  &__title {
    margin-bottom: 0.5em;
    color: #fff;
    font-size: 1.5em;
  }

  &__text {
    font-size: 1.4rem;
  }
}
///contact/////
.contact {
  padding-bottom: 6em;
  padding-top: 6em;
  background-color: black;

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 1em 2em;
    margin-bottom: 4em;
    margin-top: 2em;

    &--bgc {
      width: 90%;
      height: 100%;
      // background-color: #fff;
      position: absolute;
      // background-color: rgb(20, 46, 70);
      background-color: colors.$black;
      border: 4px solid colors.$gold;
      padding: 1em 2em;
    }

    &__title {
      padding: 0.5em 0;
      font-size: 1.2em;
      z-index: 1;
      text-transform: uppercase;
      color: colors.$gold;
    }
    &__text {
      margin-bottom: 1em;
      color: #ffffff;
      font-size: 0.8em;
      z-index: 1;
      transition: color 1s ease;

      &:hover {
        color: colors.$gold;
        // font-weight: bold;
        cursor: pointer;
      }
    }
    // &__text:hover {
    //   cursor: pointer;
    //   font-weight: bold;
    // }
  }
  &__icons {
    padding: 1em;
    display: flex;
    justify-content: space-evenly;

    a {
      margin: 1em;
      color: #ffffff;
      transition: transform 0.3s;
      position: relative;
    }
  }

  &__map {
    position: relative;
    padding-bottom: 36.25%;
    padding-top: 30px;
    padding-right: 10px;
    height: 0;
    overflow: hidden;
    box-shadow: -1px 1px 20px 0px colors.$gold;
    border: 2px solid colors.$gold;
    transition: box-shadow 0.5s ease;

    &:hover {
      box-shadow: -1px 1px 20px 0px #aa8b6a;
    }

    &__map-title {
      text-align: center;
      padding: 2em 1em;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
// footer/////////
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid colors.$gold;
  // background-color: rgb(20, 46, 70);
  background-color: colors.$black;
  color: #ffffff;

  &__text {
    padding: 1rem;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    img {
      margin-left: 10px;
      margin-bottom: 5px;
    }
  }
}
/////////////////////////////////////////////////////////////////////////////////////////////////////
///
///
///
.me {
  &__section {
    padding: 5em 0;

    // p {
    //   padding: 1em 1em;
    //   font-size: 1.6rem;
    // }
    h3 {
      padding: 1em 1em;
      color: #fff;
      font-weight: bold;
      font-size: 2rem;
      background-color: colors.$gold;
      margin-bottom: 1em;
      i {
        padding: 1rem;
        font-size: 3rem;
      }
    }
    h4 {
      padding: 0em 1em;
      font-size: 2rem;
      color: colors.$gold;
      i {
        padding: 10px;
      }
    }
  }
}

////specializations/////////////
///
.specializations {
  &__box {
    margin: 2rem;
  }
  &__text {
    // margin: 0.5rem;
    i {
      margin: 0.5rem;
      font-size: 1rem;
    }
  }
  &__maintext {
    margin: 2rem;
  }
  // &__title {
  //   background-color: black;
  //   color: #fff;
  //   padding: 1.5rem;
  // }
}
.guardianships {
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.99) 0%,
      rgba(230, 230, 230, 0.8) 48%,
      rgba(255, 255, 255, 0.99) 100%
    ),
    url("../img/sBig.jpg");
  padding: 10px 10px;

  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1rem;
    text-transform: uppercase;
  }
  &__text {
    text-align: center;
    font-size: 2rem;
  }
}
///
@media (min-width: 574px) {
  .offers {
    // &__wrapper {
    //   display: flex;
    //   flex-direction: column;
    //   align-items: center;
    //   justify-content: center;
    // }
    &__box {
      max-width: 508px;
    }
  }
  .team {
    &__box {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &-text {
        width: 59%;
        height: fit-content;

        &--right {
          text-align: right;
        }
      }

      &-img {
        width: 40%;

        &--right {
          order: 1;
        }
      }
    }

    &__img {
      margin-bottom: 0;
      // max-height: 300px;
    }
  }
}
@media (min-width: 768px) {
  .offers {
    &__section-title {
      margin: 2em 0 0 0;
    }

    &__wrapper {
      // display: flex;
      flex-direction: row;
    }
    &__box {
      margin: 6em 1em;
      width: 33%;
      // height: 100%;

      img {
        width: 160px;
        height: 160px;
      }
    }
  }

  .team {
    &__text {
      font-size: 1.8rem;
    }
  }

  .contact {
    &__wrapper {
      display: flex;
      flex-direction: row;
    }
    &__box {
      width: 50%;
      margin-bottom: 0;

      margin: 0 2em;

      &--bgc {
        width: 90%;
        height: 80%;
      }
    }
    &__map {
      width: 75%;
      height: 80%;
      margin: 0 2em;
    }
  }
}
@media (min-width: 992px) {
  .about-us {
    &__title {
      font-size: 2rem;
    }
    &__text {
      font-size: 1.8rem;
      z-index: 4;
      position: relative;
    }
    &__wrapper {
      flex-direction: row;
    }
    &__box {
      width: 70%;
    }
    &__img {
      width: 40%;
      height: auto;
      // overflow: hidden;
    }
    img {
      // width: 150%;
      transform: translateX(-30%);

      z-index: 0;
    }
  }
  .navbar-nav {
    align-items: center;
    font-size: 1.5rem;
  }
  .hero {
    /* position: relative; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../img/headerBig.jpg");

    background-attachment: fixed;
  }
  .hero2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../img/headerBig2.jpg");
  }

  .team {
    &__box {
      margin: 2em 0;

      &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // margin-bottom: 2.5em;
      }
    }

    &__title {
      font-size: 2.6rem;
    }

    &__text {
      font-size: 1.8rem;
    }
  }

  .contact__box__text {
    font-size: 1em;
  }
  .guardianships {
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.99) 0%,
        rgba(243, 243, 243, 0.85) 48%,
        rgba(255, 255, 255, 0.95) 100%
      ),
      url("../img/sBig.jpg");
    background-attachment: fixed;
    height: 40rem;
  }
}
@media (min-width: 1200px) {
  .navbar-brand {
    min-width: 40px;
  }

  .hero {
    height: 600px;
  }
  // .clients {
  //   flex-wrap: nowrap;
  // }
  .contact {
    &__map {
      width: 75%;
      height: 40%;
      margin: 0 2em;
    }
  }
}
///////////////////////////////////////
.specialization {
  padding: 0 1rem;
  padding-bottom: 8rem;

  h3 {
    padding: 1em 1em;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    background-color: colors.$gold;
    margin-bottom: 1em;
    text-align: center;
    i {
      padding: 1rem;
      font-size: 3rem;
    }
  }
  &__title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1.1667;
    letter-spacing: 0.03em;

    text-align: center;
    font-weight: bold;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    gap: 2rem;
    transform-origin: center center;
  }
  &__text {
    text-align: center;
    padding: 1rem;
  }
  &__maintext {
    text-align: center;
    padding: 2rem;
    span {
      font-weight: bold;
      font-size: 2rem;
    }

    &--card {
      text-align: center;
      padding: 2rem;
      font-weight: bold;
    }
  }
  &__maintext-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
      width: 90%;
    }
  }

  &__card {
    width: 90%;
    border: 1px solid colors.$gold;
    align-items: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    transform-origin: center center;
    transition: background-color 0.8s ease, transform 0.8s;
    background-color: #fafafa;
    // border-radius: 20px;

    // i {
    //   font-size: 5rem;
    //   color: black;
    //   transition: color 0.8s ease;
    // }

    &__title {
      font-size: 2rem;
      text-align: center;
      color: colors.$gold;
      transition: color 1.3s ease;
      font-weight: bold;
    }

    // &__btn {
    //   padding: 1.5rem 2rem;
    //   background-color: black;
    //   border: 1px solid black;
    //   // border-radius: 20px;
    //   transition: background-color 0.8s ease;

    //   a {
    //     color: #fff;
    //     font-size: 1.6rem;

    //     i {
    //       font-size: 1.5rem;
    //       margin-left: 10px;
    //       color: #fff;
    //     }
    //   }
    // }
  }
}
.specialization__card:hover,
.specialization__card:focus {
  // background-color: #c8a588;
  // transform: scale(0.9);
  // border: 1px solid rgba(124, 121, 121, 0.955);
  box-shadow: 0px 8px 16px 0px rgba(162, 159, 159, 0.955);
  // box-shadow: 0px 8px 16px 0px #c8a588;
  // i {
  //   color: black;
  // }
  h4 {
    color: #fff;
  }
  .specialization__card__btn {
    background-color: #fff;
    // border: none;
    cursor: pointer;
    border: 1px solid black;

    a {
      color: black;
      border-bottom: 2px solid black;
      bottom: 25px;
      // text-transform: uppercase;
      font-weight: bold;
    }
  }
}

@media (min-width: 768px) {
  .specialization {
    &__wrapper {
      flex-direction: row;
    }
    &__card {
      flex-grow: 1;
    }
  }
}

@media (min-width: 1024px) {
  .specialization {
    &__wrapper {
      gap: 5rem;
    }
  }
}

// --------------------------------------------person
.person {
  padding: 8rem 1rem;

  h3 {
    padding: 1em 1em;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    background-color: colors.$gold;
    margin-bottom: 1em;
    text-align: center;
    i {
      padding: 1rem;
      font-size: 3rem;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }

  &__text {
    max-width: 90%;
    padding: 2rem;
    font-size: 1.6rem;

    &--one {
      background-color: colors.$gold;
      align-self: flex-start;

      color: #fafafa;
    }
    &--two {
      background-color: black;
      color: #fafafa;
      align-self: flex-end;
    }
  }

  &-photo {
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.99) 0%,
        rgba(230, 230, 230, 0.8) 48%,
        rgba(255, 255, 255, 0.99) 100%
      ),
      url("../img/sBig.jpg");
    padding: 10px 10px;

    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    // &__wrapper {
    //   max-width: 90%;
    // }
    &__title {
      font-size: 2.5rem;
      // font-weight: bold;
      text-align: center;
      padding: 1rem;
      text-transform: uppercase;
      border-bottom: 1px solid black;
      border-top: 1px solid black;
      background-color: #fafafab1;
    }
  }
}
@media (min-width: 992px) {
  .person {
    &__text {
      max-width: 75%;
      padding: 4rem;
      margin: 1rem;

      &--one {
        background-color: colors.$gold;
        align-self: flex-start;
        margin-left: 4rem;
        color: #fafafa;
      }
      &--two {
        background-color: black;
        color: #fafafa;
        align-self: flex-end;
        margin-right: 4rem;
      }
    }
    &-photo {
      background-image: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0.99) 0%,
          rgba(243, 243, 243, 0.85) 48%,
          rgba(255, 255, 255, 0.95) 100%
        ),
        url("../img/sBig.jpg");
      background-attachment: fixed;
      height: 40rem;

      &__title {
        font-size: 3rem;
        padding: 2rem;
      }
    }
  }
}
